@charset "utf-8";
/* custom css file made by JeanDoe */

/* import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* css variables */

:root{
	--main-clr: #567;
	--light-bg: #e1d1f1;
	--light-clr: #7a7b7c;
	--black: #1a1b1c;
	--white: #fff;
	
	--body-font: 'Poppins','Ubuntu Mono', sans-serif;
}

/* initialisation */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	font-weight: normal;
}

html{
	font-size: 100%;
}

body{
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
	background: var(--light-bg);
	font-family: var(--body-font);
}










